# Azure Terraform backend bootstrap config
# Space-separated list of environments to provision max length 8
ENVS="dev test prod"

# Space-separated list of repos (org/repo) that should be trusted
# to assume the CI/CD identity via OIDC federated credentials
# Eg: if you have many projects you want to add at once
GITHUB_REPOS="orgorusername/repo1 orgorusername/repo2"

LOCATION="eastus"
RGPREFIX="tfstate" #the envs above are the suffix
STORAGE_SKU="Standard_LRS"   # Consider higher redundancy for higher envs
