# Azure Terraform backend bootstrap config
# Space-separated list of environments to provision max length 8
ENVS="dev test prod"

# Space-separated list of repos (org/repo) that should be trusted
# to assume the CI/CD identity via OIDC federated credentials
# Eg: if you have many projects you want to add at once
GITHUB_REPOS="orgorusername/repo1 orgorusername/repo2"

LOCATION="eastus"
RGPREFIX="tfstate" #the envs above are the suffix
STORAGE_SKU="Standard_LRS"   # Consider higher redundancy for higher envs

# Terraform AzureRM env vars - Note these are set for ALL of the ENVs in GitHub

# Deployment target details. Note: these could differ to backend.hcl files if state storage is located in another sub/tenant
AZURE_TENANT_ID=""
AZURE_SUBSCRIPTION_ID=""

# Azure tfstate store creation settings
BACKEND_STORAGE_TENANT_ID=""
BACKEND_STORAGE_SUBSCRIPTION_ID=""

#TFPLAN_STORAGE_ACCOUNTS="" this is set by setup-azure-tfstate-store.sh and required by setup-github-environments.sh
